<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Detail</title>
</head>
<body>
    
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><strong>{{ question.question_text }}</strong></legend>
            {% if error_message %}<h1>{{ error_message }}</h1>{% endif %}
            {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice">{{ choice.choice_text }}</label>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote">
    </form>

</body>
</html>